///*top bar/////*/
.top-bar{
    width: 100%;
    display: table;
    background-color: $theme-color!important;
    .bar-content{
        display: flex;
        width: 100%;
        justify-content: space-between;
        color: $white;
        @media only screen and (max-width : 1024px){
            display: table;
        }
        .contact-info{
            display: table;
            padding: 15px 0 15px 0;
            @media only screen and (max-width : 1024px){
                margin: auto;
            }
            .icon{
                float: left;
                padding: 0 10px 0 0;
                cursor: pointer;
                .fa-phone{
                    transform: rotate(274deg);
                }
                .fa-envelope{
                    padding: 0 0 0 30px;
                }
            }
            .text{
                float: left;
                padding: 0 20px 0 0;
                transition: 500ms;
                cursor: pointer;
                &:hover{
                    color: $hover-color;
                }
            }
        }
        .social-link{
            display: table;
            padding: 15px 0 0 0;
            @media only screen and (max-width : 1024px){
                margin: auto;
                padding: 0;
            }
            .icon{
                float: left;
                padding: 0 30px 0 0;
                transition: 500ms;
                cursor: pointer;
                &:hover{
                    color: $hover-color;
                    transition: 500ms;
                }
            }
            .text{
                float: left;
                padding: 0 8px 0 20px;
                border-left: 1px solid $white;
                cursor: pointer;
            }
        }
    }
}
///*/top bar/////*/
/*header*/
.main-nav-bar{
    position: fixed;
    width: 100%;
    display: table;
    z-index: 2;
    background-color: $white;
    transition:  300ms;
    &.attachTop{
        transform: translateY(-55px);
        transition: 300ms;
        background-color: #ffffff;
        box-shadow: 0 0 4px 2px #dadada;
    }
    .home-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width : 1024px){
            text-align: center;
        }
        .logo{
            display: block;
            width: 200px;
            img{
                width: 100%;
            }
        }
        .nav{
            font-size: 17px;
            font-weight: 500;
            a{
                transition: 500ms;
                &:hover{
                    color: $hover-color!important;
                    transition: 400ms;
                }
            }
        }
        .nav-icon{
            a{
                padding-right: 20px;
            }
        }
    }
}
/*/header*/
/*filter*/
.filter-bar {
    display: block;
    width: 100%;
    padding-top: 100px;

    .categories-info {
        display: flex;
        width: 250px;
        justify-content: space-around;
        align-items: center;
        background-color: $theme-color;
        padding: 16px 0;
        color: $white;
        transition: 500ms;
        cursor: pointer;
        float: left;

        &:hover {
            color: $hover-color;
            transition: 500ms;
        }
    }

    .search-bar {
        display: block;

        .form-group {
            display: flex;
            margin-bottom: 33px;
            .search-input {
                padding: 14px 15px;
                border-radius: 0;
                margin-top: 1px;
                &:focus{
                    border-color: $hover-color;
                    box-shadow: 0 0 0 0.7px $hover-color;
                }
            }

            .btn {
                background-color: $theme-color;
                transition: 500ms;
                color: $hover-color;
                cursor: pointer;
                border-radius: 0;

                &:hover {
                    background-color: $hover-color;
                    transition: 500ms;
                    color: $theme-color;
                }
            }
        }
    }
}
/*/filter*/
/*HOME_PAGE_BG*/
 .home-page-bg{
     display: flex;
     position: relative;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 75vh;
     align-items: center;
     .text-box{
         display: block;
         width: 100%;
         text-align: center;
         padding-left: 275px;
         padding-top: 101px;
         transform: rotate(
                         22deg
         );
         .p{
             color: $white;
             font-size: 20px;
             font-weight: bold;
         }
         .h1{
             font-size: 50px;
             color: $theme-color;
             text-shadow: 2px 2px #000000;
         }
         .shop-btn{
             background: $theme-color;
             padding: 15px 40px;
             font-weight: bold;
             border-radius: 24px;
             transition: 500ms;
             margin-top: 20px;
             color: $black;
             text-shadow: 1px 1px 1px #333333;
             &:hover{
                 background-color: $hover-color;
                 transition: 500ms;
                 border: 2px solid $theme-color;
             }
         }
     }
 }
/*/HOME_PAGE_BG*/
.page-2{
    background-color: #ffffff;
    width: 100%;
    display: block;
    padding-top: 120px;
    .banner-box{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
        padding-bottom: 100px;
        @media only screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
        }
        .banner{
            display: block;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 1;
            &:hover{
                .overlay{
                    width: 48%;
                    transition: 500ms;
                }
            }
            .overlay {
                position: absolute;
                width: 46%;
                height: 100%;
                background-color: #FA7B12;
                border-top-left-radius: 30px 130px;
                border-bottom-left-radius: 30px 130px;
                transition: 500ms;
                top: 0;
                right: 0;
                z-index: -1;
            }
            .overlay-2{
                background-color: $theme-color;
            }

            .text {
                color:$black;
                float: right;
                padding: 45px 55px;

                .h {
                    font-size: 20px;
                }

                .p {
                    font-size: 20px;
                    padding: 10px 5px 18px 2px;
                }
                .btn{
                    background-color: $hover-color;
                    padding: 6px 25px;
                    border-radius: 15px;
                    font-size: 14px;
                    font-weight: bold;
                    color: $white;
                    transition: 500ms;
                    &.btn-1{
                        background-color: $theme-color;
                        color: $black;
                        &:hover{
                            background-color:$hover-color;
                            transition: 500ms;
                        }
                    }
                    &:hover{
                        background-color:$theme-color;
                        transition: 500ms;
                    }
                }
            }
        }
    }
    .text-box{
        display: table;
        width: 85%;
        margin: auto;
        text-align: center;
        padding-bottom: 60px;
        .head{
            display: table;
            position: relative;
            font-size: 40px;
            padding-bottom: 10px;
            margin: auto;
            color: $theme-color;
            font-weight: bold;
            text-shadow: 2px 2px 2px $black;
            z-index: 1;
            .orange-overlay{
                position: absolute;
                top: 0;
                left: 50px;
                width: 175px;
                z-index: -1;
                img{
                    width: 100%;
                }
            }
        }
    }
    .product-category{
        display: table;
        width: 100%;
        padding-bottom: 100px;
        .product-items{
            display: block;
            float: left;
            text-align: center;
            background-color: $theme-color;
            padding: 33px;
            margin: 0 150px 0 0;
            border-radius: 50%;
            transition: 500ms;
            &:hover{
                border-radius: 15px;
                transition: 500ms;
                background-color: $hover-color;
            }
            &.product-items-3{
                margin: 0;
            }
            .logo{
                width: 200px;
                img{
                    width: 100%;
                }
                .h{
                    color: $black;
                    font-weight: 500;
                }
            }
        }
    }
    /*product*/
    .product{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px 20px;
        padding: 0 25px;
        .product-box{
            display: block;
            border: 1px solid #3333;
            border-radius: 16px;
            text-align: center;
            .img{
                    width: 250px;
                    height: 295px;
                    display: table;
                    margin: auto;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .product-text-box{
                display: block;
                .p{
                    font-size: 20px;
                    font-weight: bold;
                    padding: 5px 0 10px 0;
                    transition: 500ms;
                    color: $black;
                    &:hover{
                        color: $hover-color;
                        transition: 500ms;
                    }
                }
                .icon{
                    display: block;
                    color: $theme-color;
                }
                .price{
                    padding: 15px 0;
                    font-weight: bold;
                    font-size: 20px;
                    color: $black;
                }
                .cart-btn{
                    background-color: $theme-color;
                    width: 52%;
                    margin: auto;
                    padding: 10px 30px;
                    color: $black;
                    font-weight: bold;
                    border-radius: 22px;
                    margin-bottom: 20px;
                    transition: 500ms;
                    cursor: pointer;
                    &:hover{
                        background-color: $hover-color;
                        transition: 500ms;
                    }
                }
            }
        }
    }
    /*/product*/
}